html, body, div, img {
  margin: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
   }

/* Style the header */
.cflogo {
  text-align: left;
  margin: 10px;
  
}


.header{
  padding: 20px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  background-color: #652121;
  
}


/* Style the top navigation bar */
.menu {
  list-style-type: none;
  padding-top: 20px;
  background-color: black;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0 auto;

}

li {
  flex-direction: row;
}

li a {
 
  color: white;
  margin: 0 auto;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  background-color: #9D6C74;
}



/* Style the main content */

.container1, .container2 {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  }


.topnews {
  
  background-color: lightgray;

  }

.box1 {
background-color: black;
color: white;
margin: 10px;

}

.box4 {
background-color: lightgray;
color: gray;
height: 20px;
}



/* Style the footer */

.footer {
   vertical-align: text-bottom;
   background-color: black;
   color: white;
   text-align: center;
   
}

.cffooter {
   text-align: center;
    
}
  
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;

}
@-ms-viewport{
    zoom: 1.0;
    width: extend-to-zoom;

}
/* Extra small devices (phones, 480 and down) */
@media  screen and (max-width: 480px) {
img {
width:100%;
}

}